<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDBEntities" connectionString="metadata=res://*/InventoryDbModel.csdl|res://*/InventoryDbModel.ssdl|res://*/InventoryDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=InventoryDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>